@model IEnumerable<Admisiones.Models.PerfilUsuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LugarNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoPrimario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoSecundario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoPrimario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoSecundario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LugarNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoPrimario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoSecundario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoPrimario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoSecundario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PerfilusuarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PerfilusuarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PerfilusuarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
